body.dark #section_11_3{
background-color:#060818 !important;
}
#section_12_3{
background-color:#ffffff !important;
}
body.dark #section_12_3{
background-color:#060818 !important;
}
#section_13_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_13_3{
background-color:#060818 !important;
}
html.rtl #section_13_widget_17{
padding-left:20px !important;
}
#section_13_widget_17{
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_18{
padding-left:20px !important;
}
#section_13_widget_18{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
#section_13_widget_19{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_19{
padding-left:20px !important;
}
#section_13_widget_20{
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_20{
padding-left:20px !important;
}
html.rtl #section_13_widget_21{
padding-left:20px !important;
}
#section_13_widget_21{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
#section_13_widget_22{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_22{
padding-left:20px !important;
}
#section_13_widget_23{
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_23{
padding-left:20px !important;
}
#section_13_widget_24{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_24{
padding-left:20px !important;
}
#section_13_widget_25{
padding-top:20px !important;
padding-right:20px !important;
background-color:transparent ;
}
html.rtl #section_13_widget_25{
padding-left:20px !important;
}
#section_13_widget_26{
background-color:transparent ;
}
#section_14_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_14_3{
background-color:#060818 !important;
}
#section_14_widget_27{
background-color:transparent ;
}
body.dark #section_15_3{
background-color:#060818 !important;
}
#section_16_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_16_3{
background-color:#060818 !important;
}
#section_16_widget_28{
background-color:transparent ;
}
html.rtl #section_16_widget_29{
padding-left:0px !important;
padding-right:20px !important;
}
#section_16_widget_29{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:10px !important;
padding-left:20px !important;
background-color:transparent ;
}
#section_17_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_17_3{
background-color:#060818 !important;
}
#section_17_widget_30{
background-color:transparent ;
}
#section_18_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_18_3{
background-color:#060818 !important;
}
#section_18_widget_31{
background-color:transparent ;
}
#section_19_3{
background-color:#ffffff !important;
padding-bottom:50px !important;
}
body.dark #section_19_3{
background-color:#060818 !important;
}
#section_19_widget_33{
background-color:transparent ;
}
#section_19_widget_32{
background-color:transparent ;
}
body.dark #section_20_3{
background-color:#060818 !important;
}
html.rtl #section_20_3{
padding-right:20px !important;
}
#section_20_widget_34{
padding-left:20px !important;
background-color:transparent ;
}
html.rtl #section_20_widget_34{
padding-right:20px !important;
}
#section_20_3{
background-color:#ffffff !important;
padding-top:20px !important;
padding-bottom:30px !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
#section_20_widget_34{
padding-top:20px !important;
padding-left:0px !important;
}
#section_13_widget_17{
padding-right:0px !important;
}
#section_13_widget_23{
padding-top:20px !important;
padding-right:0px !important;
}
#section_13_widget_18{
padding-right:0px !important;
}
#section_13_widget_19{
padding-right:0px !important;
}
#section_13_widget_20{
padding-top:20px !important;
padding-right:0px !important;
}
#section_13_widget_24{
padding-right:0px !important;
}
#section_13_widget_25{
padding-right:0px !important;
}
#section_13_widget_21{
padding-right:0px !important;
}
#section_13_widget_22{
padding-right:0px !important;
}
#section_13_widget_26{
padding-top:20px !important;
}
#section_16_widget_29{
padding-top:20px !important;
padding-left:0px !important;
}}
@media (max-width: 767px) {
#section_20_widget_34{
padding-top:20px !important;
padding-left:0px !important;
}
#section_13_widget_17{
padding-right:0px !important;
}
#section_13_widget_23{
padding-top:20px !important;
padding-right:0px !important;
}
#section_13_widget_18{
padding-right:0px !important;
}
#section_13_widget_19{
padding-right:0px !important;
}
#section_13_widget_20{
padding-top:20px !important;
padding-right:0px !important;
}
#section_13_widget_24{
padding-right:0px !important;
}
#section_13_widget_25{
padding-right:0px !important;
}
#section_13_widget_21{
padding-right:0px !important;
}
#section_13_widget_22{
padding-right:0px !important;
}
#section_13_widget_26{
padding-top:20px !important;
}
#section_16_widget_29{
padding-top:20px !important;
padding-left:0px !important;
}}